# ==============================
# ARCHIVOS TEMPORALES DE LATEX
# ==============================
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.run.xml

# ==============================
# ARCHIVOS TEMPORALES DE PYTHON
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# CONFIGURACIÓN DE VS CODE
# ==============================
.vscode/

# ==============================
# CARPETAS Y RESULTADOS
# ==============================
output/*.log
output/*.aux
output/*.synctex.gz
